body {
  background: #e1d6cc;
  color: #342c2d;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 5%;
}

p {
  text-align: center;
  font-size: 20px;
}

a {
  font-size: 22px;
  text-decoration: none;
  color: #9e793b;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
  color: #342c2d;
}

img {
  width: 100%;
  box-shadow: 3px 5px 5px #342c2d;
}


